<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>stackada-stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C907D8F1CAC61CB00AF8127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C907DA31CAC61CC00AF8127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C907DAE1CAC61CC00AF8127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
